.kanban-board {
    display:inline-block;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: whitesmoke;
}
h3{
    margin-top: 3px;
}
.order{
    margin: 10px;
}
.options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.board-columns {
    display: flex;
    gap: 20px;
}
/* div{
    vertical-align: middle; line-height: 1;
} */